@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300&display=swap');

body{
    background-color: rgb(28, 34, 48);
    font-family: 'Roboto', sans-serif;
}

.header{
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin: 0px auto;
    margin-top: 40px;
}

.header-list{
    width: 25%;
    display: flex;
    list-style: none;
    color: white;
    justify-content: space-between;
}

.landing{
    position: relative;
    z-index: 1;
    background-image: url("../images/bg-curvy-desktop.svg");
    background-repeat: no-repeat;
    background-size: 100% 60%;
    background-position: bottom;
}

.landing-content{
    width: 70%;
    min-height: 80vh;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
}

.intro-image{
    width: 40%;
    margin-top: 20px;
}

.landing-content h2, .landing-content p{
    margin-top: 30px;
    text-align: center;
}

.landing-content h2{
    font-size: 3rem;
}

.landing-content p{
    font-size: 1.2rem;
}

.landing-content button{
    color: white;
    background-color: rgb(77, 194, 211);
    margin-top: 30px;
    border-style: none;
    padding: 1.1rem 6rem;
    border-radius: 30px;
}

.services{
    background-color: rgb(24, 31, 43);
    /*padding-top: 200px;*/
    padding-top: 250px;
}

.grid{
    z-index: 3;
    width: 70%;
    margin: 0px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: white;
}

.cards{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    place-self: center;
}

.cards h3{
    margin-top: 20px;
}

.cards p{
    color: rgb(160, 164, 173);
    margin-top: 10px;
}

#card-3, #card-4{
    margin-top: 100px;
}

.stay-productive-wrapper{
    background-color: rgb(24, 31, 43);
}

.stay-productive{
    width: 70%;
    margin: 0px auto;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    align-items: center;
    color: white;
    padding-top: 200px;
}

.sp-img{
    width: 85%;
}

.stay-productive-text h3{
    font-size: 3rem;
    line-height: 1.3;
}

.stay-productive-text p{
    font-size: 1rem;
    margin-top: 18px;
}

.sp-link{
    margin-top: 18px;
}

.sp-link a{
    color: aqua;
    display: flex;
    align-items: center;
    text-decoration-line: underline;
    text-underline-offset: 8px;
}

.sp-link a img{
    margin-left: 5px;
}

.references-wrapper{
    background-color: rgb(24, 31, 43);
    padding-top: 250px;
}

.references{
    width: 70%;
    margin: 0px auto;
    display: flex;
}

.rf-card{
    background-color: rgb(33, 41, 60);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 200px;
    padding: 30px 25px;
}

.rf-card p{
    font-size: 1.1rem;
    font-weight: 100;
}

.rf-person{
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.rfc-2, .rfc-3{
    margin-left: 40px;
}

.rf-person img{
    width: 10%;
    border-radius: 50%;
}

.rf-text h3{
    font-size: 1rem;
}

.rf-text p{
    font-size: 0.7rem;
}

.rf-text{
    margin-left: 10px;
}

.references-wrapper{
    position: relative;
    z-index: 3;
}

.reference-img{
    position: absolute;
    left: 14%;
    z-index: -1;
    top: 27%;
}

.signup-flex{
    width: 60%;
    margin: 0px auto;
    text-align: center;
    color: white;
    background-color: rgb(28, 34, 48);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 40px 40px;
    min-height: 280px;
}

.signup-flex h3{
    font-size: 2rem;
    font-weight: 400;
    
}

.signup-flex p{
    font-weight: 300;
    width: 75%;
}

.signup-buttons{
    width: 80%;
    display: grid;
    grid-template-columns: 4fr 2fr;
    gap: 30px;
    height: 50px;
}

.signup-buttons input{
    border-radius: 25px;
}

.signup-buttons button{
    border-radius: 25px;
    background-color: rgb(77, 194, 211);
    color: white;
    border-style: none;
}

::placeholder{
    padding-left: 20px;
}

footer{
    position: relative;
    background-color:rgb(12, 21, 36);
}

.references-wrapper{
    padding-bottom: 300px;
}

.signup-wrapper{
    position: absolute;
    top: -130px;
    z-index: 9;
    width: 100%;
}


.footer-wrapper{
    width: 85%;
    margin: 0px auto;
    padding-top: 300px;
    padding-bottom: 100px;
    color: white;
}

.footer-grid{
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1fr 2fr;
    justify-items: center;
    margin-top: 60px;
}

.list ul, .list2 ul{
    list-style: none;
    margin: 0;
}

.list ul li a, .list2 ul li a{
    text-decoration: none;
    color: white;
}

.f-grid1{
    display: flex;
    gap: 20px;
    align-items: start;
}

.telephone{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.mail{
    display: flex;
    gap: 20px;
    align-items: center;
}

.list ul li, .list2 ul li{
    margin-bottom: 10px;
}

.social-media{
    width: 30%;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 390px){

    .header{
        margin-top: 20px;
    }

    .header-list{
        padding: 0px;
        width: 60%;
    }

    .header-list li{
        font-size: 0.9rem;
        font-weight: 200;
    }

    .header img{
        width: 50%;
    }
    
    .intro-image{
        width: 100%;
    }

    .landing-content{
        width: 80%;
        min-height: 90vh;
        margin-top: 50px;
    }

    .landing-content h2{
        font-size: 1.8rem;
    }

    .landing-content p{
        font-size: 1rem;
    }

    .landing-content button{
        padding: 10px 70px;
    }

    .landing{
        background-image: url("../images/bg-curvy-mobile.svg");
        background-size: 100% 60%;
        background-position: bottom;
    }

    .services{
        padding-top: 100px;
    }

    .grid{
        grid-template-columns: 1fr;
        width: 90%;
        gap: 70px;
    }

    #card-3, #card-4{
        margin-top: 0px;
    }

    .stay-productive{
        grid-template-columns: 1fr;
        width: 80%;
        gap: 60px;
    }

    .sp-img{
        width: 100%;
    }

    .stay-productive-text h3{
        font-size: 1.2rem;
    }

    .stay-productive-text p{
        font-size: 1rem;
        font-weight: 300;
    }

    .sp-link a{
        font-size: 1rem;
    }

    .references{
        flex-direction: column;
        gap: 50px;
    }

    .rf-card{
        margin: 0px;
    }

    .reference-img{
        left: 8%;
        top: 18%;

    }

    .references{
        width: 80%;
    }

    .rf-card{
        padding: 20px;
        min-height: 180px;
    }

    .rf-card p{
        font-size: 0.9rem;
        font-weight: 200;
    }

    .rf-text h3{
        font-size: 0.8rem;
    }

    .rf-text p{
        font-size: 0.6rem;
    }

    .rf-person{
        margin-top: 0px;
    }

    .signup-buttons{
        grid-template-columns: 1fr;
        height: auto;
    }

    .signup-flex{
        width: 85%;
        padding: 0px;
        min-height: 350px;
        padding: 20px;
    }

    .signup-flex h3{
        font-size: 1.3rem;
        font-weight: 600;
    }

    .signup-flex p{
        font-size: 0.95rem;
        width: 90%;
        font-weight: 200;
    }

    .signup-buttons{
        width: 100%;
    }

    .signup-inputs{
        width: 100%;
        padding: 13px 10px;
    }

    .footer-wrapper{
        padding-bottom: 50px;
    }

    .footer-grid{
        grid-template-columns: 1fr;
        justify-items: start;
        gap: 40px;
    }

    .social-media{
        width: 100%;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
    }

    .telephone p{
        color: white;
        text-decoration: none;
    }

    .fab{
        margin-left: 20px;
    }

    .list ul, .list2 ul{
        padding: 0;
    }
    
}










